@font-face {
  font-family: 'zwicon';
  src: url('/zwicon/fonts/zwicon.woff') format('woff'),
       url('/zwicon/fonts/zwicon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.zwicon {
  font-family: 'zwicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zwicon-align-bottom:before { content: "\e900"; }
.zwicon-align-h:before { content: "\e901"; }
.zwicon-align-left:before { content: "\e902"; }
.zwicon-align-right:before { content: "\e903"; }
.zwicon-align-top:before { content: "\e904"; }
.zwicon-align-v:before { content: "\e905"; }
.zwicon-distribute-h:before { content: "\e906"; }
.zwicon-distribute-v:before { content: "\e907"; }
.zwicon-arrow-bottom-left:before { content: "\e908"; }
.zwicon-arrow-bottom-right:before { content: "\e909"; }
.zwicon-arrow-circle-down:before { content: "\e90a"; }
.zwicon-arrow-circle-left:before { content: "\e90b"; }
.zwicon-arrow-circle-right:before { content: "\e90c"; }
.zwicon-arrow-circle-up:before { content: "\e90d"; }
.zwicon-arrow-down:before { content: "\e90e"; }
.zwicon-arrow-left:before { content: "\e90f"; }
.zwicon-arrow-right:before { content: "\e910"; }
.zwicon-arrow-square-down:before { content: "\e911"; }
.zwicon-arrow-square-left:before { content: "\e912"; }
.zwicon-arrow-square-right:before { content: "\e913"; }
.zwicon-arrow-square-up:before { content: "\e914"; }
.zwicon-arrow-to-top:before { content: "\e915"; }
.zwicon-arrow-top-left:before { content: "\e916"; }
.zwicon-arrow-top-right:before { content: "\e917"; }
.zwicon-arrow-up:before { content: "\e918"; }
.zwicon-back:before { content: "\e919"; }
.zwicon-chevron-double-down:before { content: "\e91a"; }
.zwicon-chevron-double-left:before { content: "\e91b"; }
.zwicon-chevron-double-right:before { content: "\e91c"; }
.zwicon-chevron-double-up:before { content: "\e91d"; }
.zwicon-chevron-down:before { content: "\e91e"; }
.zwicon-chevron-left:before { content: "\e91f"; }
.zwicon-chevron-right:before { content: "\e920"; }
.zwicon-chevron-up:before { content: "\e921"; }
.zwicon-collapse-alt:before { content: "\e922"; }
.zwicon-collapse-alt2:before { content: "\e923"; }
.zwicon-collapse-down:before { content: "\e924"; }
.zwicon-collapse-left:before { content: "\e925"; }
.zwicon-collapse-right:before { content: "\e926"; }
.zwicon-collapse-up:before { content: "\e927"; }
.zwicon-collapse:before { content: "\e928"; }
.zwicon-continue:before { content: "\e929"; }
.zwicon-expand-alt:before { content: "\e92a"; }
.zwicon-expand-alt2:before { content: "\e92b"; }
.zwicon-expand-down:before { content: "\e92c"; }
.zwicon-expand-h:before { content: "\e92d"; }
.zwicon-expand-left:before { content: "\e92e"; }
.zwicon-expand-right:before { content: "\e92f"; }
.zwicon-expand-up:before { content: "\e930"; }
.zwicon-expand-v:before { content: "\e931"; }
.zwicon-expand:before { content: "\e932"; }
.zwicon-loop:before { content: "\e933"; }
.zwicon-prioritize-down:before { content: "\e934"; }
.zwicon-prioritize-up:before { content: "\e935"; }
.zwicon-redo:before { content: "\e936"; }
.zwicon-refresh-double:before { content: "\e937"; }
.zwicon-refresh-left:before { content: "\e938"; }
.zwicon-refresh-right:before { content: "\e939"; }
.zwicon-restart:before { content: "\e93a"; }
.zwicon-split-h:before { content: "\e93b"; }
.zwicon-split-v:before { content: "\e93c"; }
.zwicon-undo:before { content: "\e93d"; }
.zwicon-cell-border-bottom:before { content: "\e93e"; }
.zwicon-cell-border-full:before { content: "\e93f"; }
.zwicon-cell-border-left:before { content: "\e940"; }
.zwicon-cell-border-right:before { content: "\e941"; }
.zwicon-cell-border-top:before { content: "\e942"; }
.zwicon-cell-empty:before { content: "\e943"; }
.zwicon-cell-full:before { content: "\e944"; }
.zwicon-cell-split-h:before { content: "\e945"; }
.zwicon-cell-split-v:before { content: "\e946"; }
.zwicon-cell-split:before { content: "\e947"; }
.zwicon-archive:before { content: "\e948"; }
.zwicon-document:before { content: "\e949"; }
.zwicon-folder-delete:before { content: "\e94a"; }
.zwicon-folder-lock:before { content: "\e94b"; }
.zwicon-folder-new:before { content: "\e94c"; }
.zwicon-folder:before { content: "\e94d"; }
.zwicon-laptop-code:before { content: "\e94e"; }
.zwicon-scan:before { content: "\e94f"; }
.zwicon-add-circle:before { content: "\e950"; }
.zwicon-add-square:before { content: "\e951"; }
.zwicon-add:before { content: "\e952"; }
.zwicon-close-circle:before { content: "\e953"; }
.zwicon-close-square:before { content: "\e954"; }
.zwicon-close:before { content: "\e955"; }
.zwicon-done-all:before { content: "\e956"; }
.zwicon-done:before { content: "\e957"; }
.zwicon-menu:before { content: "\e958"; }
.zwicon-minus-circle:before { content: "\e959"; }
.zwicon-minus-square:before { content: "\e95a"; }
.zwicon-minus:before { content: "\e95b"; }
.zwicon-more-h:before { content: "\e95c"; }
.zwicon-more-v:before { content: "\e95d"; }
.zwicon-search:before { content: "\e95e"; }
.zwicon-bold:before { content: "\e95f"; }
.zwicon-caption:before { content: "\e960"; }
.zwicon-h1:before { content: "\e961"; }
.zwicon-h2:before { content: "\e962"; }
.zwicon-h3:before { content: "\e963"; }
.zwicon-h4:before { content: "\e964"; }
.zwicon-h5:before { content: "\e965"; }
.zwicon-h6:before { content: "\e966"; }
.zwicon-indent:before { content: "\e967"; }
.zwicon-italic:before { content: "\e968"; }
.zwicon-ordered-list:before { content: "\e969"; }
.zwicon-outdent:before { content: "\e96a"; }
.zwicon-paragraph:before { content: "\e96b"; }
.zwicon-quote:before { content: "\e96c"; }
.zwicon-strikethrough:before { content: "\e96d"; }
.zwicon-text-align-center:before { content: "\e96e"; }
.zwicon-text-align-justify:before { content: "\e96f"; }
.zwicon-text-align-left:before { content: "\e970"; }
.zwicon-text-align-right:before { content: "\e971"; }
.zwicon-underline:before { content: "\e972"; }
.zwicon-unordered-list:before { content: "\e973"; }
.zwicon-battery-charge:before { content: "\e974"; }
.zwicon-battery-empty:before { content: "\e975"; }
.zwicon-battery-full:before { content: "\e976"; }
.zwicon-bluetooth:before { content: "\e977"; }
.zwicon-cloud:before { content: "\e978"; }
.zwicon-computer:before { content: "\e979"; }
.zwicon-cpu:before { content: "\e97a"; }
.zwicon-desktop:before { content: "\e97b"; }
.zwicon-download-cloud:before { content: "\e97c"; }
.zwicon-download:before { content: "\e97d"; }
.zwicon-headphone:before { content: "\e97e"; }
.zwicon-keyboard:before { content: "\e97f"; }
.zwicon-laptop:before { content: "\e980"; }
.zwicon-link:before { content: "\e981"; }
.zwicon-mobile:before { content: "\e982"; }
.zwicon-mouse:before { content: "\e983"; }
.zwicon-no-bluetooth:before { content: "\e984"; }
.zwicon-no-wifi:before { content: "\e985"; }
.zwicon-plug:before { content: "\e986"; }
.zwicon-print:before { content: "\e987"; }
.zwicon-server:before { content: "\e988"; }
.zwicon-signal-l:before { content: "\e989"; }
.zwicon-signal-m:before { content: "\e98a"; }
.zwicon-signal-s:before { content: "\e98b"; }
.zwicon-smartwatch:before { content: "\e98c"; }
.zwicon-tablet:before { content: "\e98d"; }
.zwicon-upload-cloud:before { content: "\e98e"; }
.zwicon-upload:before { content: "\e98f"; }
.zwicon-usb:before { content: "\e990"; }
.zwicon-wifi:before { content: "\e991"; }
.zwicon-calendar-add:before { content: "\e992"; }
.zwicon-calendar-delete:before { content: "\e993"; }
.zwicon-calendar-done:before { content: "\e994"; }
.zwicon-calendar:before { content: "\e995"; }
.zwicon-clock-alarm:before { content: "\e996"; }
.zwicon-clock:before { content: "\e997"; }
.zwicon-time-add:before { content: "\e998"; }
.zwicon-time-delete:before { content: "\e999"; }
.zwicon-time-done:before { content: "\e99a"; }
.zwicon-time:before { content: "\e99b"; }
.zwicon-timer:before { content: "\e99c"; }
.zwicon-bell-off:before { content: "\e99d"; }
.zwicon-bell:before { content: "\e99e"; }
.zwicon-block:before { content: "\e99f"; }
.zwicon-bookmark:before { content: "\e9a0"; }
.zwicon-danger:before { content: "\e9a1"; }
.zwicon-flag:before { content: "\e9a2"; }
.zwicon-heart-broken:before { content: "\e9a3"; }
.zwicon-heart:before { content: "\e9a4"; }
.zwicon-information:before { content: "\e9a5"; }
.zwicon-like:before { content: "\e9a6"; }
.zwicon-love:before { content: "\e9a7"; }
.zwicon-question:before { content: "\e9a8"; }
.zwicon-star:before { content: "\e9a9"; }
.zwicon-unlike:before { content: "\e9aa"; }
.zwicon-warning:before { content: "\e9ab"; }
.zwicon-camera:before { content: "\e9ac"; }
.zwicon-crop:before { content: "\e9ad"; }
.zwicon-eye-close:before { content: "\e9ae"; }
.zwicon-eye:before { content: "\e9af"; }
.zwicon-filter:before { content: "\e9b0"; }
.zwicon-flash-off:before { content: "\e9b1"; }
.zwicon-flash:before { content: "\e9b2"; }
.zwicon-focus:before { content: "\e9b3"; }
.zwicon-image:before { content: "\e9b4"; }
.zwicon-panorama:before { content: "\e9b5"; }
.zwicon-photo:before { content: "\e9b6"; }
.zwicon-ruler:before { content: "\e9b7"; }
.zwicon-rotate-l:before { content: "\e9b8"; }
.zwicon-rotate-r:before { content: "\e9b9"; }
.zwicon-video:before { content: "\e9ba"; }
.zwicon-widescreen:before { content: "\e9bb"; }
.zwicon-zoom-in:before { content: "\e9bc"; }
.zwicon-zoom-out:before { content: "\e9bd"; }
.zwicon-attachment:before { content: "\e9be"; }
.zwicon-chat-off:before { content: "\e9bf"; }
.zwicon-chat:before { content: "\e9c0"; }
.zwicon-comment:before { content: "\e9c1"; }
.zwicon-inbox:before { content: "\e9c2"; }
.zwicon-mail-open:before { content: "\e9c3"; }
.zwicon-mail:before { content: "\e9c4"; }
.zwicon-send:before { content: "\e9c5"; }
.zwicon-circle:before { content: "\e9c6"; }
.zwicon-diamond:before { content: "\e9c7"; }
.zwicon-pen-draw:before { content: "\e9c8"; }
.zwicon-pen:before { content: "\e9c9"; }
.zwicon-pencil:before { content: "\e9ca"; }
.zwicon-polygon:before { content: "\e9cb"; }
.zwicon-rectangle:before { content: "\e9cc"; }
.zwicon-shape-circle:before { content: "\e9cd"; }
.zwicon-shape-square:before { content: "\e9ce"; }
.zwicon-shape-triangle:before { content: "\e9cf"; }
.zwicon-triangle:before { content: "\e9d0"; }
.zwicon-code:before { content: "\e9d1"; }
.zwicon-command:before { content: "\e9d2"; }
.zwicon-copy:before { content: "\e9d3"; }
.zwicon-cut:before { content: "\e9d4"; }
.zwicon-delete:before { content: "\e9d5"; }
.zwicon-design:before { content: "\e9d6"; }
.zwicon-duplicate:before { content: "\e9d7"; }
.zwicon-edit-pencil:before { content: "\e9d8"; }
.zwicon-edit:before { content: "\e9d9"; }
.zwicon-eraser:before { content: "\e9da"; }
.zwicon-highlight:before { content: "\e9db"; }
.zwicon-history:before { content: "\e9dc"; }
.zwicon-layers:before { content: "\e9dd"; }
.zwicon-magic:before { content: "\e9de"; }
.zwicon-move:before { content: "\e9df"; }
.zwicon-paint-bucket:before { content: "\e9e0"; }
.zwicon-palette:before { content: "\e9e1"; }
.zwicon-paste:before { content: "\e9e2"; }
.zwicon-pipette:before { content: "\e9e3"; }
.zwicon-save:before { content: "\e9e4"; }
.zwicon-scissors:before { content: "\e9e5"; }
.zwicon-select:before { content: "\e9e6"; }
.zwicon-stamp:before { content: "\e9e7"; }
.zwicon-vector:before { content: "\e9e8"; }
.zwicon-atom:before { content: "\e9e9"; }
.zwicon-book-open:before { content: "\e9ea"; }
.zwicon-book:before { content: "\e9eb"; }
.zwicon-bulb:before { content: "\e9ec"; }
.zwicon-certificate:before { content: "\e9ed"; }
.zwicon-flask:before { content: "\e9ee"; }
.zwicon-glasses:before { content: "\e9ef"; }
.zwicon-graduate:before { content: "\e9f0"; }
.zwicon-microscope:before { content: "\e9f1"; }
.zwicon-molecule:before { content: "\e9f2"; }
.zwicon-pencil-ruler:before { content: "\e9f3"; }
.zwicon-planet:before { content: "\e9f4"; }
.zwicon-telescope:before { content: "\e9f5"; }
.zwicon-bank:before { content: "\e9f6"; }
.zwicon-bitcoin:before { content: "\e9f7"; }
.zwicon-card-add:before { content: "\e9f8"; }
.zwicon-card:before { content: "\e9f9"; }
.zwicon-cash:before { content: "\e9fa"; }
.zwicon-chart-bar:before { content: "\e9fb"; }
.zwicon-chart-line:before { content: "\e9fc"; }
.zwicon-chart-pie:before { content: "\e9fd"; }
.zwicon-coin:before { content: "\e9fe"; }
.zwicon-coins:before { content: "\e9ff"; }
.zwicon-dollar:before { content: "\ea00"; }
.zwicon-euro:before { content: "\ea01"; }
.zwicon-exchange:before { content: "\ea02"; }
.zwicon-graph:before { content: "\ea03"; }
.zwicon-growth:before { content: "\ea04"; }
.zwicon-pound:before { content: "\ea05"; }
.zwicon-receipt:before { content: "\ea06"; }
.zwicon-safe:before { content: "\ea07"; }
.zwicon-sale:before { content: "\ea08"; }
.zwicon-shopping-bag:before { content: "\ea09"; }
.zwicon-shopping-cart:before { content: "\ea0a"; }
.zwicon-wallet:before { content: "\ea0b"; }
.zwicon-yen:before { content: "\ea0c"; }
.zwicon-achievement:before { content: "\ea0d"; }
.zwicon-ball:before { content: "\ea0e"; }
.zwicon-basketball:before { content: "\ea0f"; }
.zwicon-binocular:before { content: "\ea10"; }
.zwicon-bowling:before { content: "\ea11"; }
.zwicon-cards:before { content: "\ea12"; }
.zwicon-chess:before { content: "\ea13"; }
.zwicon-control-gamepad:before { content: "\ea14"; }
.zwicon-control-joystick:before { content: "\ea15"; }
.zwicon-crown:before { content: "\ea16"; }
.zwicon-dice:before { content: "\ea17"; }
.zwicon-diamond-alt:before { content: "\ea18"; }
.zwicon-fav:before { content: "\ea19"; }
.zwicon-football:before { content: "\ea1a"; }
.zwicon-gift:before { content: "\ea1b"; }
.zwicon-golf:before { content: "\ea1c"; }
.zwicon-headset:before { content: "\ea1d"; }
.zwicon-medal:before { content: "\ea1e"; }
.zwicon-music-note:before { content: "\ea1f"; }
.zwicon-puzzle:before { content: "\ea20"; }
.zwicon-target:before { content: "\ea21"; }
.zwicon-tennisball:before { content: "\ea22"; }
.zwicon-ticket:before { content: "\ea23"; }
.zwicon-trophy:before { content: "\ea24"; }
.zwicon-art:before { content: "\ea25"; }
.zwicon-anchor:before { content: "\ea26"; }
.zwicon-biohazard:before { content: "\ea27"; }
.zwicon-bomb:before { content: "\ea28"; }
.zwicon-bug:before { content: "\ea29"; }
.zwicon-bug-fix:before { content: "\ea2a"; }
.zwicon-chat-bubble:before { content: "\ea2b"; }
.zwicon-cloud-rain:before { content: "\ea2c"; }
.zwicon-cloud-snow:before { content: "\ea2d"; }
.zwicon-compass:before { content: "\ea2e"; }
.zwicon-contrast:before { content: "\ea2f"; }
.zwicon-dashboard:before { content: "\ea30"; }
.zwicon-database:before { content: "\ea31"; }
.zwicon-delivery:before { content: "\ea32"; }
.zwicon-earth:before { content: "\ea33"; }
.zwicon-emoji-happy:before { content: "\ea34"; }
.zwicon-emoji-neutral:before { content: "\ea35"; }
.zwicon-emoji-sad:before { content: "\ea36"; }
.zwicon-fire:before { content: "\ea37"; }
.zwicon-fingerprint:before { content: "\ea38"; }
.zwicon-gender-female:before { content: "\ea39"; }
.zwicon-gender-male:before { content: "\ea3a"; }
.zwicon-ghost:before { content: "\ea3b"; }
.zwicon-globe:before { content: "\ea3c"; }
.zwicon-home:before { content: "\ea3d"; }
.zwicon-hourglass:before { content: "\ea3e"; }
.zwicon-infinite:before { content: "\ea3f"; }
.zwicon-key:before { content: "\ea40"; }
.zwicon-leaf:before { content: "\ea41"; }
.zwicon-lightning:before { content: "\ea42"; }
.zwicon-location-add:before { content: "\ea43"; }
.zwicon-location-delete:before { content: "\ea44"; }
.zwicon-location:before { content: "\ea45"; }
.zwicon-lock:before { content: "\ea46"; }
.zwicon-login:before { content: "\ea47"; }
.zwicon-logout:before { content: "\ea48"; }
.zwicon-magnet:before { content: "\ea49"; }
.zwicon-map:before { content: "\ea4a"; }
.zwicon-microphone:before { content: "\ea4b"; }
.zwicon-moon:before { content: "\ea4c"; }
.zwicon-navigation:before { content: "\ea4d"; }
.zwicon-no-microphone:before { content: "\ea4e"; }
.zwicon-no-video:before { content: "\ea4f"; }
.zwicon-pause:before { content: "\ea50"; }
.zwicon-people:before { content: "\ea51"; }
.zwicon-person-add:before { content: "\ea52"; }
.zwicon-person-delete:before { content: "\ea53"; }
.zwicon-person:before { content: "\ea54"; }
.zwicon-pin:before { content: "\ea55"; }
.zwicon-play:before { content: "\ea56"; }
.zwicon-power:before { content: "\ea57"; }
.zwicon-qr-code:before { content: "\ea58"; }
.zwicon-recycle:before { content: "\ea59"; }
.zwicon-settings:before { content: "\ea5a"; }
.zwicon-share:before { content: "\ea5b"; }
.zwicon-shield:before { content: "\ea5c"; }
.zwicon-shuffle:before { content: "\ea5d"; }
.zwicon-skull:before { content: "\ea5e"; }
.zwicon-sun:before { content: "\ea5f"; }
.zwicon-switch:before { content: "\ea60"; }
.zwicon-sync:before { content: "\ea61"; }
.zwicon-tag:before { content: "\ea62"; }
.zwicon-tasks:before { content: "\ea63"; }
.zwicon-thumbs-down:before { content: "\ea64"; }
.zwicon-thumbs-up:before { content: "\ea65"; }
.zwicon-trash:before { content: "\ea66"; }
.zwicon-unlock:before { content: "\ea67"; }
.zwicon-verified:before { content: "\ea68"; }
.zwicon-volume-high:before { content: "\ea69"; }
.zwicon-volume-low:before { content: "\ea6a"; }
.zwicon-volume-mute:before { content: "\ea6b"; }
.zwicon-weather:before { content: "\ea6c"; }
.zwicon-zoom:before { content: "\ea6d"; }
